:root {
  --body-bg-color: #f1f1f1;
  --nav-box-shadow: 0 2px 9px #2222220f;
  --body-font-color: #111;
}

.dark-theme {
  --body-bg-color: #222;
  --nav-box-shadow: 0 2px 9px #f1f1f110;
  --body-font-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color:var(--body-bg-color);
  color: var(--body-font-color)
}