:root{
    --table-bg-color:#fff;
    --table-color:#040404;
}

.dark-theme{
    --table-bg-color:#312f2f;
    --table-color:#fff;
}

.category-table, .category-table-card, .category-card-body, .data-table th, .data-table td{
    background-color: var(--table-bg-color) !important;
    color: var(--table-color) !important;
}
.category-table {
    margin-top: 50px; 
}

.category-list{
    display: flex;
    align-items: start;
    justify-content: center;
}

.business-list{
    display: flex;
    align-items: start;
    justify-content: center;
}

.business-table{
    margin-top: 50px;
}


.data-table {
    width: 100%;
}

 .dashboard-card, .card-body{
    background-color: var(--table-bg-color) !important;
    color: var(--table-color) !important;
}

@media (max-width: 768px) {
    .category-table {
        margin-top: 20px;
    }
}


