:root {
    --card-background-color: #fff;
    --card-color: #111;
    --card-box-shadow: 0 3px 10px rgba(17, 17, 17, 0.139);
    --card-box-shadow-hover: 0 4px 20px #11111155;
}

.dark-theme {
    --card-background-color: #111f;
    --card-color: #fff;
    --card-box-shadow: 0 3px 10px #edecec24;
    --card-box-shadow-hover: 0 5px 16px #f1efef4d;
}

.home-header {
    background-image: url("../assets/home-bg-img.jpg");
    background-color: #333;     
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 95vh;
}

.home-header p {
    text-align: center;
    width: 40%;
}

.home-category-card {
    width: 300px;
    border-radius: 10px;
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
}

.home-category-card:hover {
    box-shadow: var(--card-box-shadow-hover);
    transition: all ease 0.2s;
}

.home-category-card p {
    width: 90%;
}
.text-truncate-3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.top-businesses {
    margin-top: 120px;
}

.top-businesses-cards {
    width: 800px;
}

.see-more-business {
    color: var(--card-color)
}

@media only screen and (max-width: 800px) {
    .top-businesses-cards {
        width: 400px;
    }
}